*{ 
    box-sizing: border-box;
  }

h1{
    color: Blue;
}
.profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
  }
.profile-image:hover {
    transform: scale(1.2) rotate(360deg);
  }